USE [if076_db]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NodesCreate]
(
	@Id		INT = NULL,
	@Name	VARCHAR(150)
)
AS
BEGIN
	INSERT 
		INTO Nodes(Name)
	VALUES(@Name)
	
	SELECT CAST(SCOPE_IDENTITY() AS INT)
END
